asttokens
beautifulsoup4
blinker
catboost
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
curl_cffi
cycler
debugpy
decorator
et_xmlfile
executing
fastexcel
fonttools
frozendict
geopandas
graphviz
greenlet
idna
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
multitasking
narwhals
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
peewee
pillow
platformdirs
plotly
polars[rtcompat]
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pycparser
Pygments
pyodbc
pyogrio
pyparsing
pyproj
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
shapely
six
soupsieve
SQLAlchemy
stack-data
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
websockets
Werkzeug
yfinance